body {
  text-align: center;
  background-color: #011f3f;
}

footer {
  color: #fef2bf;
  font-family: "Press Start 2P", cursive;
}

#level-title {
  font-family: "Press Start 2P", cursive;
  font-size: 2.5rem;
  margin: 3%;
  line-height: 1.5;
  color: #fef2bf;
}

.container {
  display: block;
  width: 50%;
  margin: auto;
}

.btn {
  margin: 25px;
  display: inline-block;
  height: 125px;
  width: 125px;
  border: 10px solid black;
  border-radius: 20%;
}

.custom-button {
  width: 20%;
  height: 50px;
  border: none;
  border-radius: 60px;
  font-family: "Press Start 2P", cursive;
  font-size: 1rem;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}

@media (max-width: 725px) {
  #level-title {
    font-family: "Press Start 2P", cursive;
    font-size: 1.5rem;
    margin: 5%;
    color: #fef2bf;
  }

  .btn {
    margin: 10px;
    display: inline-block;
    height: 50px;
    width: 50px;
    border: 5px solid black;
    border-radius: 20%;
  }

  .custom-buttom {
    width: 20%;
    border: none;
    border-radius: 30px;
    font-family: "Press Start 2P", cursive;
    font-size: 0.8rem;
  }

  footer {
    font-family: "Press Start 2P", cursive;
    font-size: 0.9rem;
    margin: 5%;
    color: #fef2bf;
  }
}
